[Unit]
Description=simple hbt mock server listens on localhost at port 3234
After=network.target
StartLimitIntervalSec=0[Service]
Type=simple
Restart=always
RestartSec=1
User=forge
ExecStart=node /node/hbt-mock-server/src/index.js

[Install]
WantedBy=multi-user.target
